.header {
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
}

.nav-link {
  font-size: 1.8rem;
  color: pink;
  text-decoration: none;
  margin: 30px;
}
